.NavigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4e4f50;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.NavigationBar li {
  float: left;
}

.NavigationBar li a {
  display: block;
  color: #bdc3cb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavigationBar li a:hover {
  background-color: #647c90;
}
