@import "variables";

.Items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Item {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 3vmin;
  width: 20vmin;
  height: 20vmin;
  padding: 2vmin;
  margin: 1vmin;
  border-radius: 0.5rem;
  overflow: hidden;
  overflow-wrap: anywhere;
  @include theme("box-shadow", $accent-color, "", "0 0.25rem 0.5rem");
  @include theme("border-color", $primary-color);

  @media (prefers-color-scheme: light) {
    @include theme("color", $primary-text-color);
    @include theme("background-color", $general-background-light);
    &:hover {
      @include theme("background-color", $general-background-dark);
      @include theme("color", $general-background-light);
    }
  }

  @media (prefers-color-scheme: dark) {
    @include theme("color", $secondary-text-color);
    @include theme("background-color", $general-background-dark);
    &:hover {
      @include theme("background-color", $general-background-light);
      @include theme("color", $general-background-dark);
    }
  }

  div {
    margin: -1.25vmin;
  }
}

@media screen and (max-width: 600px) {
  .Item {
    display: block;
    width: 30vmin;
    height: 30vmin;
  }
}

@media screen and (max-width: 397px) {
  .Item {
    display: block;
    width: 45vmin;
    height: 45vmin;
  }
}
