// themes
$dark-theme: "dark-theme";
$light-theme: "light-theme";

// background
$background-color-light: "background-color-light";
$background-color: "background-color";
$background-color-alternate: "background-color-alternate";
// text
$text-color: "text-color";
$text-color-alternate: "text-color-alternate";
// border
$border-color: "border-color";
$border-box-shadow: "border-box-shadow";

$themes: (
  $light-theme: (
    // background
    $background-color: #fafafa,
    $background-color-alternate: #c8c4c4,
    // text
    $text-color: #000000,
    $text-color-alternate: #151313,
    // border
    $border-color: #3f51b5,
  ),
  $dark-theme: (
    // background
    $background-color: #181918,
    $background-color-alternate: #363636,
    // text
    $text-color: #fafafa,
    $text-color-alternate: #fefefe,
    // border
    $border-color: #3f51b5,
  ),
);

@mixin themeProperty($theme, $property, $color, $additionalProperties) {
  #{$property}: unquote(map-get($theme, $color) + " " + $additionalProperties);
}

@mixin theme($property, $color, $additionalProperties: "") {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themeProperty($light, $property, $color, $additionalProperties);

  @media (prefers-color-scheme: dark) {
    @include themeProperty($dark, $property, $color, $additionalProperties);
  }
}
