$dark-theme: "dark-theme";
$light-theme: "light-theme";

$primary-color-dark: "primary-color-dark";
$primary-color: "primary-color";
$primary-color-light: "primary-color-light";
$primary-color-text: "primary-color-text";
$accent-color: "accent-color";
$primary-text-color: "primary-text-color";
$secondary-text-color: "secondary-text-color";
$divider-color: "divider-color";
$general-background: "general-background";
$general-background-light: "general-background-light";
$general-background-dark: "general-background-dark";

$themes: (
  $light-theme: (
    $primary-color-dark: #303f9f,
    $primary-color: #3f51b5,
    $primary-color-light: #dfdff1,
    $primary-color-text: #ffffff,
    $accent-color: #0f67ff,
    $primary-text-color: #151515,
    $secondary-text-color: #575757,
    $divider-color: #bdbdbd,
    $general-background: #fafafa,
    $general-background-light: #ffffff,
    $general-background-dark: #3070c5,
  ),
  $dark-theme: (
    $primary-color-dark: #303f9f,
    $primary-color: #3f51b5,
    $primary-color-light: #dfdff1,
    $primary-color-text: #ffffff,
    $accent-color: #4fa7ff,
    $primary-text-color: #d7d7d8,
    $secondary-text-color: #a6a6a6,
    $divider-color: #575757,
    $general-background: #181918,
    $general-background-light: #363636,
    $general-background-dark: #bbb,
  ),
);

@mixin themeProperty(
  $theme,
  $property,
  $color,
  $additionalPropertiesPositionIsFront,
  $additionalProperties
) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote(
      $additionalProperties + " " + map-get($theme, $color)
    );
  } @else {
    #{$property}: unquote(
      map-get($theme, $color) + " " + $additionalProperties
    );
  }
}

@mixin theme(
  $property,
  $color,
  $additionalPropertiesPositionIsFront: false,
  $additionalProperties: ""
) {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themeProperty(
    $light,
    $property,
    $color,
    $additionalPropertiesPositionIsFront,
    $additionalProperties
  );

  @media (prefers-color-scheme: dark) {
    @include themeProperty(
      $dark,
      $property,
      $color,
      $additionalPropertiesPositionIsFront,
      $additionalProperties
    );
  }
}
